/* style for nav */

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
 body {
    background-color:rgb(237, 242, 244);
 }
 p {
    font-size: 16px;
 }
main {
    margin: 0  230px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 226px;
}

.nokta{
    color: #FD6E0A
}

.nave-title {
    font-weight: 800;
    font-size: 45px;

}
nav ul li{
    list-style: none;
    margin-right: 30px;
}

nav ul li a {
    font-weight: rgular;
    text-decoration: none;
}
.dark-2 {
    color: #474747;

}


nav ul {
    display: flex; 
    align-items: center;
    font-size:20px;

}
.discription {
    
    font-size: 18px;
    font-weight: regular;
    color: #757575;
}

.btn-pry{
    background-color: #FD6E0A;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;


}
.bannar {
background-image: url('../images/developer.png'), url('../images/header_bg.png');
background-repeat: no-repeat;
background-position: top left, bottom right;

}
.abba {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bannar-content {
    margin-left: 226px;
}
.harcy {
    font-weight: bold;
    font-size: 85px;
}
.greeting {
    font-weight: semibold;
    font-size: 45px;
}
/* about section */

.about {
    width: 100%;
    height: 500px;
    margin-top: 60px;
    margin-bottom: 130px;
    background-color:rgb(249, 242, 242);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container {
    background-color: #ffffff;
    width: 827px;
    height: 288px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
   
}
.skill {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.services {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.container-lan {
   
   display: flex;
   justify-content: flex-start;
   align-items: center;
   text-align: left;
    margin-top: 40px;
    margin-bottom: 60px;
    gap: 100px; 
}

.what {
    width: 300px;
    height: 320px;
    padding: 20px 20px;
    background-color:rgb(255, 253, 253);
    border-radius: 5px;
}
.summary {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-summary {
   display: flex;
   font-size: 20px;
   justify-content: center;
   align-items: center;
   gap: 50px;

}
.colm {
    display: flex;
    flex-direction: column;
    
   
   
}
   .content {
    width: 511px;
    height: 175px;
   } 
   .bttn {
    background-color: #FD6E0A;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
   }
   hr {
    opacity: 20%;
   }
   /* footer style */

   footer {
    background-color:rgb(247, 244, 242);
   
   }
   .container-foot {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 80px;
    padding-bottom: 80px;
    gap: 50px;
    padding-top: 60px;
   }
   .box-foot {
    display: flex;
    flex-direction: column;

   }
   .form-s {
    width: 461px;
    height: 64px;
    border: none;
    margin-top: 24px;
    border-radius:5px;
    padding-left: 20px;
   }
   .form-sm {
    width: 461px;
    height: 150px;
    border: none;
    margin-top: 24px;
    border-radius:5px;
    padding-left: 20px;
    padding-top: 24px;
}
   .imgf {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
   }

   /* responsive */
   
   @media screen and (max-width: 393px) {
    .hide {
        display: none;
    }
     .bannar, body {
        background-image: none;
        background-color:none; 
     }
     nav, main, .abba, .skill, .container-lan,
      .container-summary, .container-foot {
        margin: 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        
     }
     .hardy-pic {
        width: 200px;
        height: 250px;
     }
     .bannar-content {
        margin-left: 0;
        margin-top: 20px;
     }

     nav, ul, li {
        gap: 15px;
        margin-right: 0;
     }
     .container {
        padding: 20px 50px;
        width: 100%;
        height: 100%;
        background-color:rgb(193, 245, 195);
     }
     .what {
        width: 95%;
        height: 200px;
        padding: 20px;
        background-color:rgb(247, 235, 245);
        border-radius: 8px;
        margin-left: 10px;
     }
     .container-lan, .container-summary {
        gap: 20px;
     }
      .foot {
        margin-top: 50px;
     }
     .imgf {
       justify-content: center;
     }
        
     }
   